.container {
  margin: auto;
  margin-top: 5%;
  margin-left: 23%;
  width: 65%;
  height: 80%;
  padding: 10px 10px;
  background: lightgray;
  max-width: 90vw;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 50px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #1abc9c;
  color: white;
  text-align: center;
}
