body {
    font-family: sans-serif;
    max-width: 90vw;
    margin: auto;
    font: 1.2em "Fira Sans", sans-serif;
    background-color: #173042;
}
.header {
  background-color: #A83838;
  text-align: center;
  padding: 20px;
}

h1, h2 {
  color: #F5F1EA;
}
