body {
    font-family: sans-serif;
    max-width: 90vw;
    margin: auto;
    font: 1.2em "Fira Sans", sans-serif;
}
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

h1 {
  color: lightblue;
}
